  <div class="col-md-8 col-sm-8 col-xs-12">
    <div class="x_panel tile fixed_height_420 overflow_hidden">
      <div class="x_title">
        <h2>Create Bet</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content" style="text-align: center">

 
        <label for="account"><b>Minimum Amount:</b><input type="text" class="form-control" id="min_bet"/></label>
          <label for="account"><b> Maximum Amount:</b><input type="text" class="form-control" id="max_bet" /></label>
          <label for="account"><b>Start Time:</b><input type="datetime-local" class="form-control" id="start_time"/></label>
          <label for="account"><b>End Time:</b><input type="datetime-local" class="form-control" id="end_time"/></label> 
          <div id="datetimepicker12"></div>
                                <br>
          <button type="button" class="btn btn-round btn-primary" onclick="create_option()">create bet</button>&nbsp;   
       
      </div>
    </div>
  </div>
