<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>
 
<div class ="container-fluid">
<div class = "row">
     <div class = "col-sm-4">
    </div>
     <div class = "col-sm-4">
       <img src="images/img.jpg" alt="..." class="img-circle profile_img" width="200" height="315">
       <br>
       <ul>
        <ul class="list-unstyled user_data">
            <h4>
                &nbsp;&nbsp;<li><i class="glyphicon glyphicon-user">&nbsp;</i>   
                {{a}}
                </li>
                <br>
                <li>
                <i class="glyphicon glyphicon-envelope">&nbsp;</i>abc@gmailcom
                 </li>
                 <br>
                 <li>
                <i class="fa fa-key user-profile-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i> public key
                </li>
                <br>
            </h4>
            <br>
            
            <a class="btn btn-success"><i class="fa fa-edit m-right-xs">&nbsp;</i>Change password</a>
       </ul>
    </div>
   <div class = "col-sm-4">
    </div>
</div>
</div>
<br><br>   
</body>
</html>