<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>
 
<div class ="container-fluid">
<div class = "row">
     <div class = "col-sm-4">
    </div>
     <div class = "col-sm-4">
       <img src="images/img.jpg" alt="..." class="img-circle profile_img" width="200" height="315">
       <br>
       <ul>
        <ul class="list-unstyled user_data">
            <h4>
                &nbsp;&nbsp;<li><i class="glyphicon glyphicon-user">&nbsp;</i>   
                 {{username}}
                </li>
                <br>
                <li>
                <i class="glyphicon glyphicon-envelope">&nbsp;</i>{{emailid}}
                 </li>
                 <br>
                 <li>
                <i class="fa fa-key user-profile-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i><br>{{publickey}}
                </li>
                <br>
            </h4>
                <a class="btn btn-success" data-toggle="modal"  data-target="#increase" style="padding: 8px 30px" ><i class="fa fa-edit m-right-xs">&nbsp;</i>Change password</a>
       </ul>
    </div>
   <div class = "col-sm-4">
    </div>
</div>     
</div>

<form action="/user/changepassword" method="POST">
<div class="modal fade" id="increase" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
             <div class="modal-header" > 
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                   <h4 class="modal-title" >Change Password</h4>     
             </div>
             <div class="modal-body" >
                    {{!-- <input type="text" class="form-control" placeholder="Enter Email" name="emailch"  required="" /> --}}
                   {{!-- <input type="password" placeholder="old password" name="passwordold">
                   <input type="password" placeholder="new password" name="passwordnew" > --}}
                     <input type="password" class="form-control" placeholder="Enter New Password" name="passwordnew" required=""/>
                      <input type="text" class="form-control" id="private_key" oninput="publickeyconvertion()" placeholder="Enter Private Key" name="pkey" required=""/>
                      <input type="hidden" class="form-control" id="demo" placeholder="New Password" name="publickkey" required=""/>
                      <input type="hidden" name="_csrf" value="{{csrfToken}}">
                   {{!-- <input type="password" placeholder="confirm password"> --}}
             </div>
             <div class="modal-footer" >
                 <button type="submit" class="btn btn-primary default"   class="success" >Change Password</button>
                 <a class="btn btn-danger"   data-dismiss="modal">cancel</a>
                  
            </div>
        </div>
    </div>
</div>
</form>
<br><br>   
</body>
</html>
