


<style>
    body {
    color: black;
    background: #2A3F54;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}
  </style>

<br />
<body>
  <p>owner</p>
<div class="row">


  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320">
      <div class="x_title result">
        <h2>Wallet Details</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          
          </li> 
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

         <label for="account"><h4>Account Address:</h4><input type="text" class="form-control" id="adminaddress" readonly/></label> &nbsp;&nbsp;
          <label for="account"><h4> Balance:</h4><input type="text" class="form-control" id="acc_balance" readonly/></label> &nbsp;&nbsp;        
        <div class="widget_summary">
         
        </div>

        <div class="widget_summary">
        
        </div>
        <div class="widget_summary">
         
        </div>
        <div class="widget_summary">
         
        </div>
        <div class="widget_summary">
        
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320 overflow_hidden">
      <div class="x_title">
        <h2>Create Bet</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content" style="text-align: center">


        <label for="account"><h4>Minimum Amount:</h4><input type="text" class="form-control" id="min_bet"/></label> &nbsp;&nbsp;
          <label for="account"><h4> Maximum Amount:</h4><input type="text" class="form-control" id="max_bet" /></label> &nbsp;&nbsp;
                                <br>
          <button type="button" class="btn btn-round btn-primary" onclick="create_option()">create bet</button>&nbsp;   
       
      </div>
    </div>
  </div>


  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320">
      <div class="x_title">
        <h2>Overview of Betting</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
         
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content" style="text-align: center">
         <label for="account"><h4>Account Address:</h4><input type="text" class="form-control" id="new_owner_address"/></label> &nbsp;&nbsp;          
                      <br>
          <button type="button" class="btn btn-round btn-primary" onclick="transferOwnership_function()">Ownership Transfer</button>&nbsp;   
      
      </div>
    </div>
  </div>

</div>




<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320 overflow_hidden">
      <div class="x_title">
        <h2>Result</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>

       <div class="x_content" style="text-align: center">
          <label for="account"><h4> Bet ID:</h4><input type="text" class="form-control" id="result_optionid"/></label> 
            <br><br>
            <label class="radio-inline">
               <input type="radio" value ="1" id="g1" name="optradio">Low
            </label>
            <label class="radio-inline">
                <input type="radio" value="2" id="g2" name="optradio">High
             </label><br><br>
             <button type="button" class="btn btn-round btn-primary" onclick="set_Result()"> Set Result</button>&nbsp;             

       
      </div>
    </div>
  </div>



    <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320 overflow_hidden">
      <div class="x_title">
        <h2>Finalize Bet</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
        
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content" style="text-align: center">


       <label for="account"><h4>Bet ID:</h4><input type="text" class="form-control" id="finalize_optionid"/></label> 
           <br><br>
             <button type="button" class="btn btn-round btn-primary" onclick="finalize_Option()">Finalize</button>&nbsp;             

       
      </div>
    </div>
  </div>


    <div class="row"  style="text-align:center">

      
      
        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center">
            <div class="x_panel">
              <div class="x_title">
                <h2>Bettings</h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content" style="height:500px;overflow-y :scroll">
                <table>
                  <thead>
                     <tr><b>
                         <th>Option ID</th>
                          <th>Minmum Bet</th>
                          <th>Maximum Bet</th>
                          <th>Result</th>
                          <th>Total Amount in Low</th>
                          <th>Total Amount in High</th>   
                         </b> </tr>                    
                  </thead>
                  <tbody id="body_option"  style="text-align:left">
                     

                  </tbody>
                </table>
        
                
            </div> 
          </div>
  </div>
</div>
</body>



{{!-- <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false"> Dropdown <span class="caret"></span> </button> --}}.
{{!-- <button  class=btn btn-default btn-lg  data-toggle="modal" data-target="#myModal">Bet option<span class="caret"></span></button></td> --}}