<!-- <div class="container">
    <div class="col-sm-3">

      </div><div class="col-md-6 col-sm-8 col-xs-12">
         <div class="card">
         <div class="card-header"  style="text-align:center">
           <h2>Change Owner</h2>
           <hr>
            <div class="clearfix"></div>
         </div>
         <div class="card-body" style="text-align: center">
      
             <label for="address">
               <input type="text" class="form-control col-md-12 col-xs-12" placeholder="Address " #owner>
             </label>
           </div>
           <div class="card-footer">
              <br><br><br>
           <button type="button" class="btn btn-round btn-primary" (click)="transferOwnership(owner.value)" >Change</button>&nbsp;
      
         </div>
       </div>
      </div>
</div> -->
<br><br><div class="col-sm-3">

</div>
<div class="col-md-6 col-sm-8 col-xs-12">
   <div class="card">
   <div class="card-header"  style="text-align:center">
     <h2>Change Owner</h2>
     <hr>
      <div class="clearfix"></div>
   </div>
   <div class="card-body" style="text-align: center">

       <label for="address">
         <input type="text" class="form-control col-md-12 col-xs-12" placeholder="Address" #owner>
       </label>
     </div>
     <div class="card-footer">
        <br><br><br>
     <button type="button" class="btn btn-round btn-primary" (click)="transferOwnership(owner.value)"  >Change</button>&nbsp;

   </div>
 </div>
</div>
